.root {
    -fx-padding: 5px 10px 5px 10px;
}

.button {
    -fx-font-size: 35px;
    -fx-padding: 5px 10px 5px 10px;
}

.yesLabel {
    -fx-font-size: 66px;
    -fx-text-fill: lime;
}

.noLabel {
    -fx-font-size: 66px;
    -fx-text-fill: red;
}

.root {
    -fx-font-size: 35px;
}