.greenButton{
    -fx-background-color: lime;
    -fx-font-size: 35;
    -fx-padding: 5px 10px 5px 10px;
}

.greenButton:armed {
    -fx-background-color: DarkGreen;
}

.redButton{
    -fx-background-color: red;
    -fx-font-size: 35px;
    -fx-padding: 5px 10px 5px 10px;
}
.redButton:armed {
    -fx-background-color: DarkRed;
}

.brownButton {
    -fx-background-color: brown;
    -fx-font-size: 35px;
    -fx-padding: 5px 10px 5px 10px;
}

.brownButton:armed {
    -fx-background-color: Maroon;
    -fx-text-fill: gray;
}
